In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [10]:
engine = create_engine('postgresql://toby@log:5432/eve')

In [4]:
df = pd.read_sql_query("""SELECT * FROM sde."mapSolarSystems";""", con=engine)
df

,regionID,constellationID,solarSystemID,solarSystemName,x,y,z,xMin,xMax,yMin,...,corridor,hub,international,regional,constellation,security,factionID,radius,sunTypeID,securityClass
0,11000005,21000036,31000508,J133419,7.914022e+18,-6.643098e+15,-9.537787e+18,7.914018e+18,7.914026e+18,-6.647250e+15,...,False,False,False,False,None,-0.99,NaN,4.151938e+12,3800.0,None
1,11000005,21000036,31000511,J125721,7.908799e+18,7.215053e+16,-9.534643e+18,7.908794e+18,7.908805e+18,7.214507e+16,...,False,False,False,False,None,-0.99,NaN,5.460215e+12,3800.0,None
2,11000005,21000036,31000516,J134618,7.900040e+18,5.207764e+16,-9.540833e+18,7.900038e+18,7.900042e+18,5.207567e+16,...,False,False,False,False,None,-0.99,NaN,1.961278e+12,8.0,None
3,11000005,21000036,31000517,J154858,7.898073e+18,-2.504223e+16,-9.535783e+18,7.898068e+18,7.898078e+18,-2.504701e+16,...,False,False,False,False,None,-0.99,NaN,4.779161e+12,45030.0,None
4,11000005,21000036,31000510,J140112,7.903459e+18,-8.494223e+15,-9.538146e+18,7.903453e+18,7.903465e+18,-8.499938e+15,...,False,False,False,False,None,-0.99,NaN,5.714756e+12,45041.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8280,13000001,23000001,33000040,P-040,1.011073e+19,-8.294168e+17,5.314855e+18,1.011071e+19,1.011074e+19,-8.294317e+17,...,False,False,False,False,None,-0.99,NaN,1.495979e+13,NaN,None
8281,13000001,23000001,33000033,P-033,1.010917e+19,-8.329585e+17,5.354354e+18,1.010916e+19,1.010919e+19,-8.329734e+17,...,False,False,False,False,None,-0.99,NaN,1.495979e+13,NaN,None
8282,13000001,23000001,33000020,P-020,1.016908e+19,-8.491481e+17,5.336966e+18,1.016906e+19,1.016909e+19,-8.491631e+17,...,False,False,False,False,None,-0.99,NaN,1.495979e+13,NaN,None
8283,13000001,23000001,33000036,P-036,1.013034e+19,-8.808473e+17,5.279817e+18,1.013032e+19,1.013035e+19,-8.808623e+17,...,False,False,False,False,None,-0.99,NaN,1.495979e+13,NaN,None
8284,13000001,23000001,33000010,P-010,1.013704e+19,-8.596123e+17,5.287188e+18,1.013703e+19,1.013706e+19,-8.596272e+17,...,False,False,False,False,None,-0.99,NaN,1.495979e+13,NaN,None

In [75]:
regions = pd.read_sql_query("""SELECT * FROM sde."mapRegions";""", con=engine)
regions

,regionID,regionName,x,y,z,xMin,xMax,yMin,yMax,zMin,zMax,factionID,radius
0,11000005,B-R00005,7.874080e+18,1.539375e+18,-9.503071e+18,7.838285e+18,7.927692e+18,1.494672e+18,1.584079e+18,9.457118e+18,9.546525e+18,NaN,None
1,11000026,E-R00026,7.709710e+18,1.539352e+18,-8.983960e+18,7.648544e+18,7.767940e+18,1.479653e+18,1.599050e+18,8.922012e+18,9.041409e+18,NaN,None
2,11000027,E-R00027,8.177592e+18,1.539362e+18,-9.311265e+18,8.130973e+18,8.233286e+18,1.488205e+18,1.590518e+18,9.261824e+18,9.364137e+18,NaN,None
3,11000021,D-R00021,7.575668e+18,1.539421e+18,-9.121183e+18,7.531403e+18,7.635740e+18,1.487252e+18,1.591589e+18,9.074551e+18,9.178888e+18,NaN,None
4,11000006,B-R00006,7.831045e+18,1.539383e+18,-9.659854e+18,7.799949e+18,7.865467e+18,1.506624e+18,1.572142e+18,9.627249e+18,9.692767e+18,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,12000001,ADR01,5.332455e+18,6.032700e+18,-8.324663e+18,5.182455e+18,5.482455e+18,5.882700e+18,6.182700e+18,-8.474663e+18,-8.174663e+18,NaN,None
103,12000002,ADR02,5.034040e+18,4.624302e+18,-9.032457e+18,4.884040e+18,5.184040e+18,4.474302e+18,4.774302e+18,-9.182457e+18,-8.882457e+18,NaN,None
104,12000004,ADR04,2.242403e+18,4.815855e+18,-7.553307e+18,2.092403e+18,2.392403e+18,4.665855e+18,4.965855e+18,-7.703307e+18,-7.403307e+18,NaN,None
105,12000005,ADR05,3.566457e+18,5.327336e+18,-5.457244e+18,3.416457e+18,3.716457e+18,5.177336e+18,5.477336e+18,-5.607244e+18,-5.307244e+18,NaN,None
106,13000001,PR-01,1.002106e+19,-9.408010e+17,5.187112e+18,9.871062e+18,1.017106e+19,-1.090801e+18,-7.908010e+17,5.037112e+18,5.337112e+18,NaN,None

In [76]:
regions[regions.regionName == "The Forge"]

,regionID,regionName,x,y,z,xMin,xMax,yMin,yMax,zMin,zMax,factionID,radius
58,10000002,The Forge,-9.642033e+16,6.402708e+16,1.125398e+17,-1.436457e+17,-4.919500e+16,3.515456e+16,9.289960e+16,-1.444526e+17,-8.062703e+16,500001.0,None

In [11]:
engine.execute("""
CREATE TABLE universe."systemKills" (
  time        TIMESTAMPTZ  NOT NULL,
  systemID    INTEGER      NOT NULL,
  npcKills    INTEGER      NULL,
  podKills    INTEGER      NULL,
  shipKills   INTEGER      NULL
);
""")

In [12]:
engine.execute("""
SELECT create_hypertable('universe."systemKills"', 'time');
""")

In [13]:
engine.execute("""
ALTER TABLE 'universe."systemKills"' ADD CONSTRAINT unique_keys UNIQUE (time, 'systemID');
""")

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "'universe."systemKills"'"
LINE 2: ALTER TABLE 'universe."systemKills"' ADD CONSTRAINT unique_k...
                    ^

[SQL:
ALTER TABLE 'universe."systemKills"' ADD CONSTRAINT unique_keys UNIQUE (time, 'systemID');
]
(Background on this error at: http://sqlalche.me/e/13/f405)